{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Welcome to your Portfolio</h2>
  <div>
    <h3>Create a new Portfolio!</h3>
    <form action="{{ url_for(".portfolio_detail") }}" method="POST">
      {{ form.hidden_tag() }}
      {{ form.name.label }}{{ form.name(size=20) }}
      <input type="submit" name="create_portfolio" id="create_portfolio" value="Create">
    </form>
  </div>
  <div>
    {% for portfolio in portfolios %}
    <table style="width:60%">
      <div class="portfolio">
        <tr>
          <th>Company Name</th>
          <th>Symbol</th>
          <th>Current CEO</th>
        </tr>
        {% for company in portfolio.companies %}
          <tr>
            <td> {{ company.name }} </td>
            <td> {{ company.symbol.upper() }} </td>
            <td> {{ company.CEO }} </td>
          </tr>
        {% endfor %}
      </div>
    </table>
    {% endfor %}
  </div>
</div>
{% endblock content %}
