{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Welcome to your Portfolio</h2>
  <div>
    <h3>Create a new Portfolio!</h3>
    <form action="{{ url_for(".portfolio_detail") }}" method="POST">
      {{ form.hidden_tag() }}
      {{ form.name.label }}{{ form.name(size=20) }}
      <input type="submit" name="create_portfolio" id="create_portfolio" value="Go">
    </form>
  </div>
  <div>
    {% for portfolio in portfolios %}
      <div class="portfolio">
        <p>Symbol: {{ portfolio.symbol }}</p>
        <p>Name: {{ portfolio.name }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
