{% extends "base.html" %}

{% block content %}
<div class="container">
  <p>Name: {{ company_data.companyName }}</p>
  <p>Symbol: {{ symbol }}</p>

  <form action="{{ url_for(".preview_stock") }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="hidden" hidden>
      {{ form.symbol.label }}{{ form.symbol(size=20) }}
      {{ form.name.label }}{{ form.name(size=20) }}
    </div>
    {{ form.portfolios.label }}{{ form.portfolios() }}
    <input type="submit" value="Go">
  </form>
</div>

<div class="container">
  <h1>market performance plot of {{ stock_name }} </h1>
    {{ candle_div|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.2.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.2.min.js"></script>
    {{ candle_script|safe }}
  <br>
</div>
<div class="container">
  {{ circle_div|safe }}
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.js"></script>
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.2.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.2.min.js"></script>
  {{ circle_script|safe }}
</div>
{% endblock %}

{% block nav_bar %}
  <li><a href="{{ url_for(".home") }}">Home</a></li>
  {% if g.user %}
  <li><a class="active" href="{{ url_for(".company_search") }}">Search</a></li>
  <li><a href="{{ url_for(".portfolio_detail") }}">Portfolio</a></li>
  <li><a href="{{ url_for(".logout") }}">Logout</a></li>
  {% else %}
  <li><a href="{{ url_for(".register") }}">Register</a></li>
  <li><a href="{{ url_for(".login") }}">Login</a></li>
  {% endif %}

{% endblock nav_bar %}
