{% extends "base.html" %}


{% block nav_bar %}
  <li><a href="{{ url_for(".home") }}">Home</a></li>
  {% if g.user %}
  <li><a class="active" href="{{ url_for(".company_search") }}">Search</a></li>
  <li><a href="{{ url_for(".portfolio_detail") }}">Portfolio</a></li>
  <li><a href="{{ url_for(".logout") }}">Logout</a></li>
  {% else %}
  <li><a href="{{ url_for(".register") }}">Register</a></li>
  <li><a href="{{ url_for(".login") }}">Login</a></li>
  {% endif %}
{% endblock nav_bar %}

{% block content %}
  {% if get_portfolios() %}
    <div class="container">
      <h2>Search for companies</h2>
      <form method="POST" action="{{ url_for(".company_search") }}">
        {{ form.hidden_tag() }}
        {{ form.symbol.label }}{{ form.symbol(size=20) }}
        <input type="submit" value="Go">
      </form>
    </div>
  {% else %}
    <div class="container">
      <h3>Please create a Category <a href="{{ url_for(".portfolio_detail") }}">here</a></h3>
    </div>
  {% endif %}
{% endblock content %}
