{% extends "base.html" %}

{% block nav_bar %}
  <li><a href="{{ url_for(".home") }}">Home</a></li>
  {% if g.user %}
  <li><a href="{{ url_for(".company_search") }}">Search</a></li>
  <li><a href="{{ url_for(".portfolio_detail") }}">Portfolio</a></li>
  <li><a href="{{ url_for(".logout") }}">Logout</a></li>
  {% else %}
  <li><a class="active" href="{{ url_for(".register") }}">Register</a></li>
  <li><a href="{{ url_for(".login") }}">Login</a></li>
  {% endif %}
{% endblock nav_bar %}

{% block content %}
  <div class = "container">
    <h2>Resiger:</h2>
    <form actin="{{ url_for(".register") }}" method = "POST">
      {{ form.hidden_tag() }}
      {{ form.email.label }}{{ form.email(size=48) }}
      {{ form.password.label }}{{ form.password(size=48) }}
      <input type="submit" name="register_form" id="register_form" value="Register">
    </form>
  </div>
{% endblock content %}
