<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/normalize.css") }}">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/skeleton.css") }}">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
  <link rel="icon" type="image/png" href="{{ url_for("static", filename="assets/dino.png") }}">
  <title>Flask Demo</title>
</head>


<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/stock">Stock</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Portfolio</h2>
    <p>Currently Under Construction. Does not currently present any stock/company data.</p>
  </main>
  <footer>
  </footer>
</body>
</html>
